<template>
  <div id="app">
    <ui-menu />
  </div>
</template>

<script>
// Ui
import UiMenu from '@/components/ui/Menu.vue';

export default {
  name: 'app',
  components: {
    UiMenu,
  },
}
</script>
