<template>
  <main class="group">
    <ui-search />
  </main>
</template>

<script>
// Ui
import UiSearch from '@/components/ui/Search.vue';

export default {
  name: 'page-home',
  components: {
    UiSearch,
  },
};
</script>
