<template>
  <main class="group profile">
    <router-link to="/" class="profile__back">Back to search</router-link>
    <h1 class="profile__title">{{ ((profileData || {}).platformInfo || {}).platformUserId }} Profile page</h1>
    <!-- <pre>{{ profileData }}</pre> -->

    <div v-if="loading">
      <h3>Loading...</h3>
    </div>

    <div v-if="error">
      <h3>{{ error }}</h3>
    </div>

    <div v-if="profileData" class="profile__info">
      <img :src="((profileData || {}).platformInfo|| {}).avatarUrl" alt="user avatar">
      <p>{{ ((profileData || {}).platformInfo|| {}).platformUserId }}</p>
    </div>

    <div>
      <div class="profile__details">
        <div class="profile__score">
          <h4>Selected Legend</h4>
          <p>{{ ((profileData|| {}).metadata || {}).activeLegendName }}</p>
        </div>

        <div class="profile__score" v-if="((((profileData || {}).segments || [])[0] || {}).stats || {}).season2Wins">
          <h4>Stats</h4>
          <p>{{ (((((profileData || {}).segments || [])[0] || {}).stats || {}).season2Wins || {}).displayValue }}</p>
          <span>{{ (((((profileData || {}).segments || [])[0] || {}).stats || {}).season2Wins || {}).percentile }}%</span>
        </div>

        <div class="profile__score" v-if="((((profileData || {}).segments || [])[0] || {}).stats || {}).level">
          <h4>Apex Level</h4>
          <p>{{ (((((profileData || {}).segments || [])[0] || {}).stats || {}).level || {}).displayValue }}</p>
          <span>{{ (((((profileData || {}).segments || [])[0] || {}).stats || {}).level || {}).percentile }}%</span>
        </div>

        <div class="profile__score" v-if="((((profileData || {}).segments || [])[0] || {}).stats || {}).kills">
          <h4>Lifetime Kills</h4>
          <p>{{ (((((profileData || {}).segments || [])[0] || {}).stats || {}).kills || {}).displayValue }}</p>
          <span>{{ (((((profileData || {}).segments || [])[0] || {}).stats || {}).kills || {}).percentile }}%</span>
        </div>

        <div class="profile__score" v-if="((((profileData || {}).segments || [])[0] || {}).stats || {}).damage">
          <h4>Damage Done</h4>
          <p>{{ (((((profileData || {}).segments || [])[0] || {}).stats || {}).damage || {}).displayValue }}</p>
          <span>{{ (((((profileData || {}).segments || [])[0] || {}).stats || {}).damage || {}).percentile }}%</span>
        </div>
      </div>
      <img :src="((((profileData || {}).segments || [])[1] || {}).metadata || {}).imageUrl" alt="image">
    </div>

  </main>
</template>

<script>
// Vuex
// import { mapActions } from 'vuex';

import axios from 'axios';

export default {
  name: 'page-profile',
  data() {
    return {
      loading: false,
      error: null,
      profileData: null,
      platform: this.$route.params.platform,
      gamertag: this.$route.params.gamertag,
    };
  },

  methods: {

    async apiCall() {
      this.loading = true;
      try {
        const res = await axios.get(`/api/v1/profile/${this.platform}/${this.gamertag}`);
        this.profileData = res.data.data;
        // console.log(this.profileData);
        this.loading = false;
      } catch (err) {
        this.loading = false;
        this.error = err.response.data.message
      }
    },
  },

  async created() {
    this.apiCall();
  },
};
</script>
