html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: rem(16px);
  font-weight: 100;
  overflow-x: hidden;
  letter-spacing: rem(1.5px);
  line-height: rem(30px);
  transition: width .2s ease-in-out;
  font-family: 'Hind', sans-serif;
}

body {
  background-image: url('../../src/assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


/* resets */

*,
*:before,
*:after {
  outline: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.group {
  max-width: 90%;
  margin: 50px auto;
}