.profile {

  &__back {
    background: rgb(7, 7, 36);
    color: white;
    border-radius: 3px;
    padding: 5px 8px;
  }

  &__title {
    margin-top: 20px;
  }

  &__info {
    align-items: center;
    display: flex;

    img {
      width: 50px;
      margin-right: 20px;
    }

    p {
      margin: 0;
    }
  }

  &__details {
    margin-top: 50px;
    align-items: center;
    // outline: 1px solid black;
    flex-flow: row wrap;
    display: flex;
  }

  &__score {
    background-color: rgb(48, 2, 2);
    color: white;
    padding: 20px;
    border-radius: 3px;
    height: 150px;
    width: 200px;
    margin-right: 5px;

    h4 {
      font-size: 22px;
    }
  }
}