<template>
  <div>
    <nav class="menu">
      <b-navbar toggleable="md" type="dark">
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <b-navbar-brand to="/">Vue Fullstack</b-navbar-brand>
        <b-collapse is-nav id="nav_collapse">

          <b-navbar-nav class="ml-auto">
            <b-nav-item to="/">Home</b-nav-item>
            <b-nav-item to="/about">About</b-nav-item>
          </b-navbar-nav>

        </b-collapse>
      </b-navbar>
    </nav>
    <transition name="route-animation">
      <router-view/>
    </transition>
  </div>
</template>

<script>

export default {
  name: 'ui-menu',
};
</script>

