<template>
  <section class="search">
    <h1>Track Player Stats</h1>
    <b-form @submit.prevent="onSubmit">
      <b-form-select
        v-model="platform"
        :options="options"
        class="search__input"
      >
      </b-form-select>
      <b-form-input
        v-model="gamertag"
        placeholder="Origin ID, Xbox Live ID, PSN ID, etc"
        class="search__input"
      >
      </b-form-input>

      <b-button type="submit" variant="danger">Submit</b-button>
    </b-form>



  </section>
</template>

<script>
export default {
  name: 'ui-search',
  data() {
    return {
      platform: "psn",
      gamertag: '',
      options: [
        { value: null, text: 'Please select an option' },
        { value: 'psn', text: 'Playstation' },
        { value: 'xbox', text: 'Xbox' },
        { value: 'origin', text: 'Origin' },
      ],
    };
  },

  methods: {
    onSubmit() {
      if (!this.gamertag) {
        this.$toasted.show('Please enter a game tag!', {
          duration: 3000,
          icon: 'exclamation-circle',
        });
      } else {
        this.$router.push(`/profile/${this.platform}/${this.gamertag}`);
      }
    },
  },
};
</script>